<!DOCTYPE html>
<html dir="rtl">
<head>
    <meta charset="UTF-8">
    <title></title>
    <style>
        .pm-text{
            direction: rtl;
            unicode-bidi: bidi-override;
            text-align: right;
        }
    </style>
</head>
<body style = "direction: rtl; text-align: right">
<div class="pm-text">
    <p>שלום <b><%= data ? data.fullName : '' %></b>! </p>

    <p>אתה מקבל אימייל זה בעקבות בקשתך לאיפוס סיסמה בחשבונך</p>

    <p> בבקשה לחץ על <a href="<%= data ? data.resetUrl :'' %>">
        הלינק הבא </a> ובחר לך סיסמה חדשה או העתק את הכתובת לדפדפן: <br> "<%= data ? data.resetUrl :'' %>"</p>
</div>
</body>
</html>