<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<div class="pm-text">
    <p>Hello  <b><%= data ? data.fullName : '' %></b>! </p>

    <p>Welcome to "4Farmers". To verify your account please click on  <a href="<%= data ? data.confirmUrl :'' %>" target="_blank">link </a>
    </p>
    <p>Or copy this url in browser:
        <br>    "<%= data ? data.confirmUrl :'' %>"</p>
    <p>If you have received this in error, please delete this email</p>
</div>
</body>
</html>