<!DOCTYPE html>
<html dir="rtl">
<head>
    <meta charset="UTF-8">
    <title></title>
    <style>
        .pm-text{
            direction: rtl;
            unicode-bidi: bidi-override;
            text-align: right;
        }
    </style>
</head>
<body>
<div class="pm-text">
    <p>שלום,  <strong><%= data ? data.fullName : '' %></strong>! </p>

    <p>ברוך הבא ל<strong>"העיקר האיכר"</strong>. לעימות חשבונך <a href="<%= data ? data.confirmUrl :'' %>" target="_blank">נא לחץ</a></p>
    <p>או העתק כתובת קישור זו לדפדפן:
        <br>"<%= data ? data.confirmUrl :'' %>"</p>
    <p>אם קבלת זאת בטעות, בבקשה מחק אימייל זה</p>
</div>
</body>
</html>