<!DOCTYPE html>
<html dir="rtl">
<head>
    <meta charset="UTF-8">
    <title></title>
    <style>
        body {
            direction: rtl;
        }
    </style>
</head>
<body>
<div class="pm-text" style="text-align: right">
    <p>שלום,<%= data ? data.fullName : '' %>
        <br>הסיסמה שלך היא: <%= data ? data.pass :'' %>
        <br>"העיקר האיכר" היא אפליקציה שיתופית לחקלאים.
        <br>באפליקציה תוכלו למצוא:
        <br>
    <ul>
        <li> מחירי גידולים והשוואה בינם (שוק סיטונאי, מועצת הצמחים)</li>
        <li> מחירי משווקים שונים- שמוזנים על ידי המשתמשים עצמם</li>
        <li> השוואה בין מחירי משווקים ודירוג שלהם מהגבוה לנמוך</li>
        <li> סטטיסטיקות של מחירי עבר שיעזרו לכם החקלאים לקבל החלטות לגבי סוג ומועד</li>
        <b><li> ככל שתשתף יותר ממחירי המשווק שלך- כך תוכל לצפות ביותר מחירים של
            הגידול
            משווקים אחרים!</li>
        </b></ul>
    </p>
    <br>

</div>

</body>
</html>