.menuBtn{
  display: block;
  text-decoration: none;
  color: @btnWhite;
  background-color: @btnMenuBgTransparent;
  border: 2px solid @logoBg;
  border-right: 0;
  border-left: 0;
  padding: 20px 0;
  width: 100%;
  outline: 0;
  box-sizing: border-box;
  &:hover, &:active, &:focus{
    background-color: @btnMenuBg;
  }
}
.logOut{
  position: absolute;
  bottom: 0;
}