/*--------- COLOR'S VARIABLES ---------*/
@aqua: #04d4be;
@aquaDark: #009688;
@white: #fff;


@transparentBlue: rgba(52, 152, 219, .7);
@transparentWhite: rgba(255, 255, 255, 0.4);
@transparentBorder: rgba(255, 255, 255, 0.6);
@transparentDarkBlue: rgba(52, 152, 219, .9);

@grayDark: #969696;
@gray:      #888;
@grayLight: #e3e3e3;

/***=== FONT COLORS ===***/
@fontWhite: @white;