#login{
    z-index: 50;
    width: 460px;
    height: 220px;
    background-color: #545454;
    border-radius: 10px;
    padding-top: 65px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -140px;
    margin-left: -230px;

}

#login form {
    width: 300px;
    margin: 0 auto;
}

#login input[type="text"] {
    width: 285px;
    height: 40px;
    border: none;
    border-radius: 5px;
    display: inline-block;
    margin-top: 5px;
    padding-left: 15px;
}

#login input[type="password"] {
    width: 285px;
    height: 40px;
    border: none;
    display: inline-block;
    border-radius: 5px;
    margin-top: 5px;
    background-color: #FFFFFF;
    padding-left: 15px;
}

#login input[type="submit"] {
    width: 300px;
    height: 40px;
    border: none;
    border-radius: 5px;
    margin-top: 5px;
    background-color: #CF4E4E;
    font-size: 16px;
    color: #FFFFFF;
    font-weight: bold;
    cursor: pointer;
}

input[placeholder]{
    background-color: #FFFFFF;
    font-size: 15px;
}

#login span {
    display: block;
    width: 300px;
    height: 25px;
    margin: 10px auto;
    color: red;
    text-align: center;
    font-size: 25px;
}