.clear{
    clear: both;
}

.close {
    display: none !important;
}

.editForm {
    float: left;
    width: 280px;
    background-color: #E5E5E5;
    border-radius: 10px;
    color: #515151;
    font-weight: bold;
    font-size: 17px;
    margin: 10px 0 10px 15px;
    line-height: 45px;
    height: 110px;
}

.createForm{
    width: 280px;
    background-color: #E5E5E5;
    border-radius: 10px;
    color: #515151;
    font-weight: bold;
    font-size: 17px;
    margin: 10px 0 10px 5px;
    line-height: 45px;
    text-align: center;
    height: 145px;
}

.createForm .valueEdit {
    margin-top: 10px;
    width: 250px;
    font-size: 20px;
    padding: 7px;
    border: none;
    border-radius: 5px;
    outline: none;
}


.createForm #addTaxButton {
    display: block;
    float: left;
    width: 110px;
    height: 40px;
    border: none;
    border-radius: 5px;
    background-color: #5353E8;
    margin: 0 15px 15px 15px;
    color: #ffffff;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
    outline: none;
}

.createForm #cancelTaxButton{
    display: block;
    float: left;
    width: 110px;
    height: 40px;
    border: none;
    border-radius: 5px;
    background-color: #AFAFAF;
    margin: 0 14px 14px 16px;
    color: #ffffff;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
    outline: none;
}

.editForm .valueEdit{
    display: block;
    width: 240px;
    margin: 15px auto 9px;
    border: none;
    border-radius: 5px;
    outline: none;
    font-size: 20px;
    padding: 7px;
}
.editForm #addButton {
    display: block;
    float: left;
    width: 110px;
    height: 40px;
    border: none;
    border-radius: 5px;
    background-color: #5353E8;
    margin: 0 15px 15px 15px;
    color: #ffffff;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
    outline: none;
}

.editForm #cancelButton{
    display: block;
    float: left;
    width: 110px;
    height: 40px;
    border: none;
    border-radius: 5px;
    background-color: #AFAFAF;
    margin: 0 14px 14px 16px;
    color: #ffffff;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
    outline: none;
}
#wrapper{
    width: 1200px;
    margin: 25px auto;
    padding: 0;
    border: 2px solid #E5E5E5;
    border-radius: 10px;
}

#wrapper #pagesConteiner {
    width: 290px;
    float: left;
    border-right: 2px solid #E5E5E5;
}

#wrapper #pagesConteiner ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

#wrapper #pagesConteiner ul li {
    display: block;
    width: 290px;
    height: 55px;
    line-height: 55px;
    border-bottom: 2px solid #E5E5E5;
    color: #707070;
    font-weight: bold;
    margin: 0;
}
#wrapper #pagesConteiner ul li .lvl{
    display: block;
    float: right;
    background-color: #ffffff;
}

#wrapper #pagesConteiner ul li.active {
    color: #CC3A3A;
}
#wrapper #pagesConteiner ul li.active span{
    color: #CC3A3A;
}

#wrapper #pagesConteiner ul li:first-child span{
    border-radius: 10px 0 0 0;
}

#wrapper #pagesConteiner ul li span{
    display: inline-block;
    padding: 0;
    margin: 0 25px 0 0;
    width: 50px;
    height: 55px;
    background-color: #F6F6F6;
    text-align: center;
    line-height: 55px;
    color: #ACACAC;
    font-weight: bold;
}


#wrapper #pagesConteiner ul li:hover{
    cursor: pointer;
}

#wrapper #pagesConteiner #button {
    margin: 20px auto;
    /* display: block; */
    width: 250px;
    height: 45px;
    line-height: 45px;
    border: none;
    border-radius: 10px;
    background-color: #5353E8;
    /* cursor: pointer; */
    outline: none;
}
#wrapper #pagesConteiner #button span {
    color: #FFFFFF;
    font-weight: bold;
    font-size: 17px;
    display: inline-block;
    float: left;
    margin-left: 47px;
}
.circle {
    width: 20px;
    height: 20px;
    float: left;
    background-color: #FFFFFF;
    border-radius: 25px;
    margin: 0 10px;
    position: relative;
    margin-top: 12px;
    cursor: pointer;
}

.circle:before, .circle:after {
    top: 4px;
    left: 9px;
    position: absolute;
    content: ' ';
    height: 12px;
    width: 2px;
    background-color: #5353E8;
}

.circle:before {
    transform: rotate(90deg);
}
.circle:after {
    transform: rotate(0deg);
}

#wrapper #valuesConteiner {
    float: left;
    width: 906px;
}

#wrapper #valuesConteiner .valContainer{
    width: 300px;
    float: left;
}

#wrapper #valuesConteiner .taxValue{
    float: left;
    width: 280px;
    height: 45px;
    background-color: #E5E5E5;
    border-radius: 10px;
    color: #515151;
    font-weight: bold;
    font-size: 17px;
    margin: 10px 0 10px 16px;
    line-height: 45px;
}

#wrapper #valuesConteiner .taxValue div{
    float: left;
    display: inline-block;
    margin: 0 20px;
}
#wrapper #valuesConteiner .addValue{
    float: left;
    width: 280px;
    height: 45px;
    background-color: #5353E8;
    border: none;
    border-radius: 10px;
    margin: 10px 0 10px 16px;
    text-align: center;
    line-height: 45px;
}

#wrapper #valuesConteiner .addValue span {
    color: #ffffff;
    font-size: 17px;
    font-weight: bold;
    display: inline-block;
    float: left;
    margin-left: 75px;
    margin-right: 40px;
}



#wrapper #valuesConteiner .taxValue .edit{
    float: right;
    width: 20px;
    height: 20px;
    display: block;
    margin: 12px 0px;
    background: url(../img/edit.png) #E5E5E5;
    cursor: pointer;
}

#wrapper #valuesConteiner .taxValue .remove{
    float: right;
    width: 20px;
    height: 20px;
    background-color: #CF4E4E;
    border-radius: 10px;
    float: right;
    margin: 12px 20px 12px 10px;
    cursor: pointer;
    position: relative;
}

#wrapper #valuesConteiner .taxValue .remove:before {
    position: absolute;
    left: 9px;
    top: 3px;
    content: ' ';
    height: 13px;
    width: 2px;
    background-color: #E5E5E5;
    transform: rotate(45deg);
}

#wrapper #valuesConteiner .taxValue .remove:after {
    position: absolute;
    left: 9px;
    top: 3px;
    content: ' ';
    height: 13px;
    width: 2px;
    background-color: #E5E5E5;
    transform: rotate(-45deg);
}

#wrapper .lesson {

}

#wrapper .lesson .lessonButton{
    height: 80px;
    padding: 0 15px;
    background-color: #F7F7F7;
    border-bottom: 2px solid #E5E5E5;
    line-height: 80px;
}

#wrapper .lesson:first-child .lessonButton{
    border-radius: 10px 10px 0 0;
}

#wrapper .lesson .lessonContainer{
    /* display: table; */
}

#wrapper .lesson .lessonContainer #leftLes{
    width: 400px;
    height: 100%;
    float: left;
    /* display: table-cell; */
    border-right: 2px solid #E5E5E5;
}
#wrapper .lesson .lessonContainer #leftLes textarea{
    width: 90%;
    height: 150px;
    margin: 3% auto 5% auto;
    display: block;
    border-radius: 10px;
    resize: none;
    border: 2px solid #E5E5E5;
    background-color: #FAFAFA;
    outline: none;
    padding: 5px;
}


#wrapper .lesson .lessonContainer #centerLes{
    width: 392px;
    height: 100%;
    float: left;
    /* display: table-cell; */
    border-right: 2px solid #E5E5E5;
}

#wrapper .lesson .lessonContainer #centerLes ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

#wrapper .lesson .lessonContainer #centerLes ul li {
    display: block;
    height: 50px;
    border-bottom: 2px solid #E5E5E5;
    line-height: 50px;
    color: #ACACAC;
    font-weight: bold;
    cursor: pointer;
}

#wrapper .lesson .lessonContainer #centerLes ul li span{
    margin-right: 25px;
    margin-left: 15px;
}

#wrapper .lesson .lessonContainer #rightLes{
    width: 400px;
    height: 100%;
    float: left;
}

#wrapper .lesson .lessonContainer #rightLes .valueName{
    display: block;
    width: 175px;
    height: 45px;
    background-color: #545454;
    margin: 10px 0 0 18px;
    border-radius: 10px;
    text-align: center;
    line-height: 45px;
    color: #FFFFFF;
    float: left;
}
#wrapper .lesson .lessonContainer #rightLes .valueName{
    display: block;
    width: 175px;
    height: 45px;
    background-color: #545454;
    margin: 10px 0 0 18px;
    border-radius: 10px;
    text-align: center;
    line-height: 45px;
    color: #FFFFFF;
}

#wrapper .lesson .lessonContainer #rightLes .saveValue{
    background-color: #5353E8;
    border: none;
    border-radius: 5px;
    width: 175px;
    height: 45px;
    color: #FFFFFF;
    margin: 10px 0 0 18px;
    font-size: 15px;
    float: left;
    bottom: 0;
    right: 15px;
}

#wrapper .lesson .lessonContainer #rightLes .saveValue span {
    line-height: 40px;
    font-size: 17px;
    text-align: center;
    display: inline-block;
    width: 175px;

}