@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&subset=latin,cyrillic');
/*--------- COLOR'S VARIABLES ---------*/
/***** ===== MATERIAL COLORS ===== *****/
/***=== FONT COLORS ===***/
/***** ===== LOGIN ===== *****/
/***** ===== BUTTONS ===== *****/
/***** ===== NAVIGATION ===== *****/
/***** ===== NAVIGATION ===== *****/
/*--------- VARIABLES ---------*/
/*--------- FUNCTIONS ---------*/
/*--------- MIXINS ---------*/
html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
body {
  margin: 0;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
[hidden],
template {
  display: none;
}
a {
  background-color: transparent;
}
a:active,
a:hover {
  outline: 0;
}
abbr[title] {
  border-bottom: 1px dotted;
}
b,
strong {
  font-weight: bold;
}
dfn {
  font-style: italic;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
mark {
  background: #ff0;
  color: #000;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
img {
  border: 0;
}
svg:not(:root) {
  overflow: hidden;
}
figure {
  margin: 1em 40px;
}
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}
pre {
  overflow: auto;
}
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}
button {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}
button[disabled],
html input[disabled] {
  cursor: default;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
input {
  line-height: normal;
}
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
legend {
  border: 0;
  padding: 0;
}
textarea {
  overflow: auto;
}
optgroup {
  font-weight: bold;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
td,
th {
  padding: 0;
}
/*--------- VENDOR ---------*/
html,
body {
  height: 100%;
}
* {
  box-sizing: border-box;
}
ul {
  margin: 0;
  list-style-type: none;
  padding: 0;
}
.error {
  color: #f44336;
  background: rgba(255, 255, 255, 0.4);
  display: block;
  padding: 12px;
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.6);
  margin-top: 5px;
}
/*--------- CONTAINER ---------*/
/*--------- GRID ---------*/
/*--------- MEDIA(RESPONSIVE) ---------*/
.menuBtn {
  display: block;
  text-decoration: none;
  color: #ffffff;
  background-color: rgba(0, 121, 107, 0.47);
  border: 2px solid #546d57;
  border-right: 0;
  border-left: 0;
  padding: 20px 0;
  width: 100%;
  outline: 0;
  box-sizing: border-box;
}
.menuBtn:hover,
.menuBtn:active,
.menuBtn:focus {
  background-color: #009688;
}
.logOut {
  position: absolute;
  bottom: 0;
}
.tabButton {
  float: left;
  cursor: pointer;
  color: #ffffff;
  background-color: rgba(0, 121, 107, 0.47);
  line-height: 70px;
  position: relative;
}
.tabButton:hover,
.tabButton:active,
.tabButton:focus {
  background-color: #009688;
}
.tabButton a {
  height: 100%;
  width: 100%;
  display: inline-block;
  padding: 0 30px;
}
.tabButton a:first-child {
  padding-right: 50px;
}
.tabButton .addButton {
  width: auto;
  height: auto;
  padding: 0 10px;
  position: absolute;
  right: 0;
  top: 0;
}
/*--------- SEARCH ---------*/
/*--------- HEADER ---------*/
/*--------- NAVBARS ---------*/
.farmersLogo {
  padding: 20px;
  display: block;
  font-size: 25px;
  background-color: #546d57;
  color: #fff;
  text-shadow: 1px 1px #584C4C;
  margin: -5px 0;
}
.leftMenuHolder {
  height: 100%;
  width: 200px;
  float: left;
  border-right: 2px solid #546d57;
  position: relative;
  background-color: rgba(185, 214, 171, 0.32);
}
.leftMenuHolder ul {
  height: 100%;
}
.leftMenuHolder ul li {
  margin: 5px 0;
  text-align: center;
}
/*--------- CONTENT ---------*/
/*--------- SIDEBARS ---------*/
/*--------- FOOTER ---------*/
/******** LOGIN ********/
.wrapper {
  margin: 0;
  padding: 0;
  border: 0;
  border-radius: 0;
  background-image: url("../img/background.png");
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  height: 100%;
  width: 100%;
}
.login {
  min-width: 200px;
  text-align: center;
  display: block;
  margin: 0 auto;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.login h2 {
  margin: 0;
  color: #ffffff;
  text-shadow: 1px 1px #888888;
  font-size: 35px;
}
.login .loginForm fieldset {
  display: block;
  width: 220px;
  border: 0;
  margin: 0 auto;
  padding: 0;
}
.login .loginForm fieldset label {
  display: block;
  margin-top: 15px;
  color: #ffffff;
  text-shadow: 1px 1px #888888;
  font-size: 17px;
}
.login .loginForm fieldset input:not([type="submit"]) {
  margin-top: 15px;
  background-color: rgba(255, 255, 255, 0.4);
  border: 1px solid rgba(255, 255, 255, 0.6);
  padding-left: 12px;
  color: #0288d1;
}
.login .loginForm fieldset input:not([type="submit"]):focus,
.login .loginForm fieldset input:not([type="submit"]):hover {
  outline: 0;
  border: 1px solid rgba(255, 255, 255, 0.6);
  border-radius: 12px;
}
.login .loginForm fieldset input[type="submit"] {
  border: 1px solid rgba(52, 152, 219, 0.9);
  background-color: rgba(52, 152, 219, 0.7);
  color: #ffffff;
  margin-top: 20px;
}
.login .loginForm fieldset input[type="submit"]:focus,
.login .loginForm fieldset input[type="submit"]:hover {
  outline: 0;
  border: 1px solid rgba(52, 152, 219, 0.9);
  border-radius: 12px;
}
.input {
  display: block;
  width: 100%;
  height: 35px;
  border-radius: 12px;
  box-sizing: border-box;
  outline: 0;
}
.forgotPassword {
  border: 1px solid rgba(52, 152, 219, 0.9);
  background-color: rgba(52, 152, 219, 0.7);
  color: #ffffff;
  margin-top: 20px;
  line-height: 33px;
  text-decoration: none;
}
::-webkit-input-placeholder {
  color: rgba(52, 152, 219, 0.7);
}
::-moz-placeholder {
  color: rgba(52, 152, 219, 0.7);
}
/* Firefox 19+ */
:-moz-placeholder {
  color: rgba(52, 152, 219, 0.7);
}
/* Firefox 18- */
:-ms-input-placeholder {
  color: rgba(52, 152, 219, 0.7);
}
/****/
#mainHolder {
  height: 100%;
}
.contentHolder {
  height: 100%;
  width: 100%;
}
.tabHeader {
  height: 71px;
  width: 100%;
  border-bottom: 2px solid #546d57;
  background-color: rgba(185, 214, 171, 0.32);
}
.tabHeader div {
  border-right: 2px solid #546d57;
  height: 71px;
  float: left;
}
.tabHeader .selected {
  background-color: #009688;
  border-bottom: 4px solid #0288d1;
}
#dialogContent {
  position: absolute;
  height: 500px;
  width: 500px;
  background-color: red;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
/*--------- STATE ---------*/
