<div>
    <div class="dialogHeader">
        <span><%=title%></span>

    </div>
    <div class="dialogContent">
        <label for="name">Name</label>
        <input id="name"
               type="text"
               value="<%=name%>"
               <%nameReadonly?'readonly':''%>
               required
               maxlength="16"/>
        <label for="location">Name</label>
        <input id="location"
               type="text"
               value="<%=location%>"
               required
               maxlength="16"/>

    </div>


</div>