<div>
    <div class="tabHeader">
        <div class="tabButton selected"
             data-content="marketeers">
            <a>Marketeers</a>
            <a id="addButton" class="addButton">Add</a>
        </div>
        <div class="tabButton"
             data-content="activities">
            <a>User activities</a>
        </div>
    </div>
    <div class="tabContent">
        <div id="marketeers"
             style="display: none">
            <div id="marketeersSearchContainer"></div>
            <div id="marketeersTable"></div>
        </div>
        <div id="activities"
             style="display: none">
            <div id="addedMarketeers">

            </div>
            <div id="changedMarketeers">

            </div>
        </div>
    </div>


</div>