<div>

    <div class="tabHeader">
        <div>
            <a class="tabButton selected"
               data-content="marketeers">
                Marketeers
            </a>
            <a id="addButton">Add</a>
        </div>
        <div>
            <a class="tabButton"
               data-content="activities">
                User activities
            </a>
        </div>
    </div>
    <div class="tabContent">
        <div id="marketeers"
             style="display: none">

        </div>
        <div id="activities"
             style="display: none">
            Activities
        </div>
    </div>


</div>